<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8"></meta>
  <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css"/>
  <link rel="stylesheet" type="text/css" href="css/bootstrap-theme.min.css"/>
  <script type="text/javascript" src="angular.min.js"></script>
  <script type="text/javascript" src="angular-ui-router.js"></script>
  <script type="text/javascript" src="app.js"></script>
  <script type="text/javascript" src="jquery-3.1.0.min.js"></script>
  <script type="text/javascript" src="js/bootstrap.min.js"></script>
  <title>Themepark</title>
</head>
<body ng-app="themepark" ng-controller="MainCtrl">
  <nav class="navbar navbar-default navbar-static-top navbar-inverse">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#/dashboard">Dashboard</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li ng-show="privilege==2" class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Parks <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="#/newpark">New Park</a></li>
              <li><a href="#/parks">View Parks</a></li>
            </ul>
          </li>
          <li ng-show="privilege==2" class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Attractions <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="#/newattraction">New Attraction</a></li>
              <li><a href="#/attractions">View Attractions</a></li>
            </ul>
          </li>
          <li ng-show="privilege==2" class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Employees <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="#/newemployee">New Employee</a></li>
              <li><a href="#/employees">View Employees</a></li>
            </ul>
          </li>
          <li ng-show="privilege==1" class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Tickets <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="#/newticket">New Ticket</a></li>
              <li><a href="#/tickets">View Tickets</a></li>
            </ul>
          </li>
          <li ng-show="privilege==1" class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Hours <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="#/newhour">New Hours</a></li>
              <li><a href="#/hours">View Hours</a></li>
            </ul>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li ng-show="privilege"><a href="#">Logout</a></li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
  <div ng-show="privilege > 0" class="container ng-show">
    {{PostDataResponse}}
    <ui-view></ui-view>
  </div>
  <div ng-hide="privilege > 0" class="container ng-hide">
    <h1>Please login</h1>
    <form>
      <div class="form-group">
        <label for="loginnumber">Employee Number</label>
        <input type="number" class="form-control" id="loginnumber" ng-model="loginnumber" placeholder="Employee Number"\>
      </div>
      <div class="form-group">
        <label for="loginpassword">Password</label>
        <input type="password" class="form-control" id="loginpassword" ng-model="loginpassword" placeholder="Password"\>
      </div>
      <a ng-click="login()" class="btn btn-success">Login</a>
    </form>
  </div>
  <script type="text/ng-template" id="/dashboard.html">
    <div class="row">
      <h1>Dashboard</h1>
    </div>
    <table class="table">
      <thead>
      </thead>
      <tbody>
        <tr>
          <td ng-show="privilege==2"><h1>Attractions <span class="label label-primary">{{attractions.length}}</span></h1></td>
          <td><a href="#/newattraction" class="btn btn-success btn-block btn-lg">New</a></td>
          <td><a href="#/attractions" class="btn btn-info btn-block btn-lg">View</a></td>
        </tr>
        <tr ng-show="privilege==2">
          <td><h1>Employees <span class="label label-primary">{{employees.length}}</span></h1></td>
          <td><a href="#/newemployee" class="btn btn-success btn-block btn-lg">New</a></td>
          <td><a href="#/employees" class="btn btn-info btn-block btn-lg">View</a></td>
        </tr>
        <tr ng-show="privilege==2">
          <td><h1>Parks <span class="label label-primary">{{parks.length}}</span></h1></td>
          <td><a href="#/newpark" class="btn btn-success btn-block btn-lg">New</a></td>
          <td><a href="#/parks" class="btn btn-info btn-block btn-lg">View</a></td>
        </tr>
        <tr ng-show="privilege==1">
          <td><h1>Tickets <span class="label label-primary">{{tickets.length}}</span></h1></td>
          <td><a href="#/newticket" class="btn btn-success btn-block btn-lg">New</a></td>
          <td><a href="#/tickets" class="btn btn-info btn-block btn-lg">View</a></td>
        </tr>
        <tr ng-show="privilege==1">
          <td><h1>Hours <span class="label label-primary">{{hours.length}}</span></h1></td>
          <td><a href="#/newhour" class="btn btn-success btn-block btn-lg">New</a></td>
          <td><a href="#/hours" class="btn btn-info btn-block btn-lg">View</a></td>
        </tr>
      </tbody>
    </table>
  </script>
<script type="text/ng-template" id="/parks.html">
<div class="page-header">
  <h1>Parks</h1>
</div>
<table class="table">
  <thead>
    <tr>
      <th>Code</th>
      <th>Name</th>
      <th>City</th>
      <th>Country</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="park in parks">
      <td>{{park.park_code}}</td>
      <td ng-hide="park.edit">{{park.park_name}}</td>
      <td ng-show="park.edit"><input class="form-control" type="text" ng-model="park.park_name"></td>
      <td ng-hide="park.edit">{{park.park_city}}</td>
      <td ng-show="park.edit"><input class="form-control" type="text" ng-model="park.park_city"></td>
      <td ng-hide="park.edit">{{park.park_country}}</td>
      <td ng-show="park.edit"><input class="form-control" type="text" ng-model="park.park_country"></td>
      <td ng-hide="park.edit"><a ng-click="park.edit = true" class="btn btn-danger">Edit</a>
      <td ng-show="park.edit"><a ng-click="updatepark(park); park.edit=false" class="btn btn-success">Save</a>
    </tr>
  </tbody>
</table>
</script>
<script type="text/ng-template" id="/newpark.html">
<div class="page-header">
  <h1>New Park</h1>
</div>
<form>
  <div class="form-group">
    <label for="park_code">Code</label>
    <input type="text" class="form-control" maxlength="6" size="6" ng-model="park_code" id="park_code" placeholder="Code">
  </div>
  <div class="form-group">
    <label for="park_name">Name</label>
    <input type="text" class="form-control" id="park_name" ng-model="park_name" placeholder="Name">
  </div>
  <div class="form-group">
    <label for="park_city">City</label>
    <input type="text" class="form-control" id="park_city" ng-model="park_city" placeholder="City">
  </div>
  <div class="form-group">
    <label for="park_country">County</label>
    <input type="text" class="form-control" id="park_country" maxlength="2" size="2" ng-model="park_country" placeholder="CO">
  </div>
  <a ng-click="addPark()" class="btn btn-success">Save</a>
  <a ng-click="resetpark()" class="btn btn-danger">Reset</a>
  {{PostDataResponse}}{{ResponseDetails}}
</form>
</script>
<script type="text/ng-template" id="/attractions.html">
<div class="page-header">
  <h1>Attractions</h1>
</div>
<table class="table">
  <thead>
    <tr>
      <th>Code</th>
      <th>Name</th>
      <th>Age</th>
      <th>Capacity</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="attraction in attractions">
      <td>{{attraction.attract_no}}</td>
      <td ng-hide="attraction.edit">{{attraction.attract_name}}</td>
      <td ng-show="attraction.edit"><input type="text" ng-model="attraction.attract_name" class="form-control"></td>
      <td ng-hide="attraction.edit">{{attraction.attract_age}}</td>
      <td ng-show="attraction.edit"><input type="number" ng-model="attraction.attract_age" class="form-control"></td>
      <td ng-hide="attraction.edit">{{attraction.attract_capacity}}</td>
      <td ng-show="attraction.edit"><input type="number" ng-model="attraction.attract_capacity" class="form-control"></td>
      <td ng-hide="attraction.edit"><a ng-click="attraction.edit = true" class="btn btn-warning">Edit</a>
      <td ng-show="attraction.edit"><a ng-click="updatepark(attraction); attraction.edit=false" class="btn btn-success">Save</a>
      <td ng-hide="attraction.edit"><a class="btn btn-danger">delete</a></td>
    </tr>
  </tbody>
</table>
</script>
<script type="text/ng-template" id="/newattraction.html">
<div class="page-header">
  <h1>New Attraction</h1>
</div>
<form>
  <div class="form-group">
    <label for="attraction_park_code">Park</label>
    <select ng-model="attraction_park_code" class="form-control">
      <option ng-repeat="park in parks" value="{{park.park_code}}">{{park.park_name}}</option>
    </select>
  </div>
  <div class="form-group">
    <label for="attraction_no">Code</label>
    <input type="number" class="form-control" ng-model="attraction_no" id="attraction_no" placeholder="Code">
  </div>
  <div class="form-group">
    <label for="attraction_name">Name</label>
    <input type="text" class="form-control" id="attraction_name" ng-model="attraction_name" placeholder="Name">
  </div>
  <div class="form-group">
    <label for="attraction_age">Age</label>
    <input type="number" class="form-control" id="attraction_age" ng-model="attraction_age" placeholder="Age">
  </div>
  <div class="form-group">
    <label for="attraction_capacity">Capacity</label>
    <input type="number" class="form-control" id="attraction_capacity" ng-model="attraction_capacity" placeholder="Capacity">
  </div>
  <a ng-click="addattraction()" class="btn btn-success">Save</a>
  <a ng-click="resetattraction()" class="btn btn-danger">Reset</a>
</form>
</script>
<script type="text/ng-template" id="/employees.html">
<div class="page-header">
  <h1>Employees</h1>
</div>
<table class="table">
  <thead>
    <tr>
      <th>Code</th>
      <th>Name</th>
      <th>Telephone</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="employee in employees">
      <td>{{employee.emp_num}}</td>
      <td ng-hide="employee.edit">{{employee.emp_title}} {{employee.emp_fname}} {{employee.emp_lname}}</td>
      <td ng-hide="employee.edit">{{employee.emp_area_code}} {{employee.emp_phone}}</td>
      <td ng-hide="employee.edit"><a ng-click="employee.edit = true" class="btn btn-info">edit</a></td>
      <td ng-hide="employee.edit"><a class="btn btn-danger">delete</a></td>

      <td ng-show="employee.edit"><input type="text" ng-model="employee.emp_title" class="form-control"></td>
      <td ng-show="employee.edit"><input type="text" ng-model="employee.emp_fname" class="form-control"></td>
      <td ng-show="employee.edit"><input type="text" ng-model="employee.emp_lname" class="form-control"></td>
      <td ng-show="employee.edit"><input type="text" size="4" ng-model="employee.emp_area_code" class="form-control"></td>
      <td ng-show="employee.edit"><input type="text" ng-model="employee.emp_phone" class="form-control"></td>
      <td ng-show="employee.edit"><input type="password" placeholder="password" ng-model="employee.emp_passwd" class="form-control"></td>
      <td ng-show="employee.edit"><input type="password" placeholder="confirm" ng-model="employee.emp_confirm" class="form-control"></td>
      <td ng-show="employee.edit"><a ng-click="editemployee(employee); employee.edit = false" class="btn btn-success">Save</a></td>

    </tr>
  </tbody>
</table>
</script>
<script type="text/ng-template" id="/newemployee.html">
<div class="page-header">
  <h1>New Employee</h1>
</div>
<form>
  <div class="col-md-6">
    <div class="form-group">
      <label for="emp_num">Code</label>
      <input type="number" class="form-control" ng-model="emp_num" id="emp_num" placeholder="Code">
    </div>
    <div class="form-group">
      <label for="emp_title">Title</label>
      <input type="text" class="form-control" id="emp_title" ng-model="emp_title" placeholder="Title">
    </div>
    <div class="form-group">
      <label for="emp_fname">First Name</label>
      <input type="text" class="form-control" id="emp_fname" ng-model="emp_fname" placeholder="First Name">
    </div>
    <div class="form-group form">
      <label for="emp_lname">Last Name</label>
      <input type="text" class="form-control" id="emp_lname" ng-model="emp_lname" placeholder="Last Name">
    </div>
    <div class="form-group form-inline">
      <label for="emp_area_code">Telephone</label>
      <input type="text" class="form-control" id="emp_area_code" ng-model="emp_area_code" size="4" placeholder="Area">
      <input type="text" class="form-control" id="emp_phone" ng-model="emp_phone" placeholder="Telephone">
    </div>
  </div>
  <div class="col-md-6">
    <div class="form-group">
      <label for="emp_dob">DOB</label>
      <input type="date" class="form-control" ng-model="emp_dob" id="emp_dob" placeholder="DOB">
    </div>
    <div class="form-group">
      <label for="emp_hire_date">Hire Date</label>
      <input type="date" class="form-control" id="emp_hire_date" ng-model="emp_hire_date" placeholder="Hire Date">
    </div>
    <div class="form-group">
      <label for="emp_passwd">Password</label>
      <input type="password" class="form-control" id="emp_passwd" ng-model="emp_passwd" placeholder="Password">
      <label for="emp_confirm">Confirm Password</label>
      <input type="password" class="form-control" id="emp_confirm" ng-model="emp_confirm" placeholder="Confirm Password">
    </div>
  </div>
  <div class="col-md-12">
    <a ng-click="addemployee()" class="btn btn-success">Save</a>
    <a ng-click="resetemployee()" class="btn btn-danger">Reset</a>
  </div>
</form>
</script>
<script type="text/ng-template" id="/tickets.html">
<div class="page-header">
  <h1>Tickets</h1>
</div>
<table class="table">
  <thead>
    <tr>
      <th>Number</th>
      <th>Price</th>
      <th>Type</th>
      <th>Park</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="ticket in tickets">
      <td>{{ticket.ticket_no}}</td>
      <td>{{ticket.ticket_price}}</td>
      <td>{{ticket.ticket_type}}</td>
      <td>{{ticket.park_name}}</td>
    </tr>
  </tbody>
</table>
</script>
<script type="text/ng-template" id="/newticket.html">
<div class="page-header">
  <h1>New Ticket</h1>
</div>
<form>
  <div class="form-group">
    <label for="ticket_park_code">Park</label>
    <select ng-model="ticket_park_code" class="form-control">
      <option ng-repeat="park in parks" value="{{park.park_code}}">{{park.park_name}}</option>
    </select>
  </div>
  <table>
    <thead>
      <tr>
        <th></th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Subtotal</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Adult:</td>
        <td><input type="number" ng-model="adultprice" value="0" class="form-control"/></td>
        <td><input type="number" value="0" ng-model="adultquantity" class="form-control"/></td>
        <td><input type="number" value="{{adultprice*adultquantity}}" class="form-control"/></td>
      </tr>
      <tr>
        <td>Child:</td>
        <td><input type="number" value="0" ng-model="childprice" class="form-control"/></td>
        <td><input type="number" value="0" ng-model="childquantity" class="form-control"/></td>
        <td><input type="number" value="{{childprice*childquantity}}" class="form-control"/></td>
      </tr>
      <tr>
        <td>Senior:</td>
        <td><input type="number" value="0" ng-model="seniorprice" class="form-control"/></td>
        <td><input type="number" value="0" ng-model="seniorquantity" class="form-control"/></td>
        <td><input type="number" value="{{seniorprice*seniorquantity}}" class="form-control"/></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td>Total:</td>
        <td><p class="form-control-static">{{ticketTotal()}}</p></td>
      </tr>
    </tbody>
  </table>
  <a ng-click="addtickets()" class="btn btn-success">Confirm</button>
  <a ng-click="resettickets()" class="btn btn-danger">Reset</a>
  <a ng-click="resetalltickets()" class="btn btn-danger pull-right">Reset All</a>
</form>
</script>
<script type="text/ng-template" id="/hours.html">
<div class="page-header">
  <h1>Hours</h1>
</div>
<table class="table">
  <thead>
    <tr>
      <th>Employee No</th>
      <th>Date</th>
      <th>Attraction</th>
      <th>Rate</th>
      <th>Hours</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="hour in hours">
      <td>{{hour.emp_num}}</td>
      <td ng-hide="hour.edit">{{hour.date_worked}}</td>
      <td ng-hide="hour.edit">{{hour.attract_name}}</td>
      <td ng-hide="hour.edit">{{hour.hour_rate}}</td>
      <td ng-hide="hour.edit">{{hour.hours_per_attract}}</td>
      <td ng-hide="hour.edit"><a ng-click="hour.edit=true" class="btn btn-info">edit</a></td>
      <td ng-hide="hour.edit"><a class="btn btn-danger">delete</a></td>

      <td ng-show="hour.edit"><input type="date" class="form-control" ng-model="hour.date_worked"></td>
      <td ng-show="hour.edit"><input type="text" class="form-control" ng-model="hour.attract_name"></td>
      <td ng-show="hour.edit"><input type="number" class="form-control" ng-model="hour.hour_rate"></td>
      <td ng-show="hour.edit"><input type="number" class="form-control" ng-model="hour.hours_per_attract"></td>
      <td ng-show="hour.edit"><a ng-click="edithours(hour);hour.edit=false" class="btn btn-success">save</a><td>

    </tr>
  </tbody>
</table>
</script>
<script type="text/ng-template" id="/newhour.html">
<div class="page-header">
  <h1>New Hours</h1>
</div>

<form>
  <div class="form-group">
    <label for="date_worked">Date</label>
    <input type="date" class="form-control" ng-model="date_worked" id="date_worked" placeholder="Date">
  </div>
  <div class="form-group">
    <label for="hour_attraction_code">Attraction</label>
    <select ng-model="hour_attraction_code" class="form-control">
      <option ng-repeat="attraction in attractions" value="{{attraction.attract_no}}">{{attraction.attract_name}} - {{attraction.park_name}}</option>
    </select>
  </div>
  <div class="form-group">
    <label for="hour_rate">Rate</label>
    <input type="number" class="form-control" id="hour_rate" ng-model="hour_rate" placeholder="Rate">
  </div>
  <div class="form-group">
    <label for="hours_per_attract">Hours</label>
    <input type="number" class="form-control" id="hours_per_attract" ng-model="hours_per_attract" placeholder="Hours">
  </div>
  <a ng-click="addhours()" class="btn btn-success">Save</button>
  <a ng-click="resethours()" class="btn btn-danger">Reset</a>
</form>
</script>
<script type="text/ng-template" id="/login.html">
<div class="page-header">
  <h1>Login</h1>
</div>
<form>
  <div class="form-group">
    <label for="loginnumber">Employee Number</label>
    <input type="number" class="form-control" id="loginnumber" ng-model="loginnumber" placeholder="Employee Number"\>
  </div>
  <div class="form-group">
    <label for="loginpassword">Password</label>
    <input type="password" class="form-control" id="loginpassword" ng-model="loginpassword" placeholder="Password"\>
  </div>
  <a ng-click="login()" class="btn btn-success">Login</a>
</form>
</script>
</body>
</html>
